<style>
  div.div-body {
display: flex;
width: 100%;
justify-content: center;
    align-items: center;
  }

  div.div-body > .parent{
    width: 500px;
  }
  div.div-body > .form input.btn{
    margin:0px 10px;
    width: 80px;
  }
  div.div-body > .form input{
    width: 100%;
  }

</style>
<div class="div-body">
  <div class="parent form">
    <div class="div-input-msg">
      <input type="text" placeholder="What needs to be done?">
    </div>
    <div class="div-msg-list">
      <div>123</div>
      <div>123</div>
      <div>123</div>
      <div>123</div>
      <div>123</div>
      <div>123</div>
      <div>123</div>
      <div>123</div>
      <div>123</div>
    </div>
    <div class="div3"> Message Count : {{ msgCount }} </div>
    <div class="div4">
      <input type="button" class="btn" value="All">
      <input type="button" class="btn" value="Active">
      <input type="button" class="btn" value="Completed">
    </div>
  </div>
</div>

