<style>
  div.div-body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.div-body > .parent {
    width: 500px;
  }
</style>
<div class="div-body">
  <div class="parent form">
    <div class="div-input-msg">
      <app-msg-input></app-msg-input>
    </div>
    <div class="div-msg-list">
      <app-msg-list></app-msg-list>
    </div>
    <div class="div-msg-info">
      <app-msg-info></app-msg-info>
    </div>
    <div class="div-msg-btn">
      <app-msg-button></app-msg-button>
    </div>
  </div>
</div>
